@use'variaveis';

.footer{

    &__container{
        display: flex;
        justify-content: center;
        border-bottom: 3px solid #ffffff;
        padding: 32px;

        h2{
            // background-color: #56cb8e;
            font-size: 32px;
            color: #fff;
            margin-bottom: 16px;
            font-family: variaveis.$convergence;
            
        }
    }
}